<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">


    <!-- Beans of Comun  -->

    <!-- Services -->
    <bean class="eas.com.module1.service.StreeService">

        <constructor-arg name="streeDao" ref="streeDao"/>
    </bean>
    <!-- Dao -->
    <bean class="eas.com.module1.dao.StreeDao" id="streeDao">

    </bean>
</beans>