*.class
*/target/*
SpringCeo/.idea/*
SpringCronos/.idea/*
SpringFebe/.idea/*
SpringGea/.idea/*
spring-hisperon/.idea/*
SpringJapeto/.idea/*
SpringOceano/.idea/*
SpringRea/.idea/*
SpringTea/.idea/*
SpringTemis/.idea/*
SpringTetis/.idea/*
SpringTia/.idea/*
SpringUrano/.idea/*
spring-mnemosine/.idea/*
spring-crios/.idea/*
spring-zeus/.idea/*
*.iml
.gradle
build/