*.class
*/target/*
SpringCeo/.idea/*
SpringCronos/.idea/*
SpringFebe/.idea/*
SpringGea/.idea/*
spring-hisperon/.idea/*
SpringJapeto/.idea/*
SpringOceano/.idea/*
SpringRea/.idea/*
SpringTea/.idea/*
SpringTemis/.idea/*
SpringTetis/.idea/*
SpringTia/.idea/*
SpringUrano/.idea/*
spring-atenea/.idea/*
spring-persefone/.idea/*
.gradle
*.iml
