<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">


    <!-- add component scan -->
    <context:component-scan base-package="eas.com.spring"/>

    <bean class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
        <property name="ignoreResourceNotFound" value="true"/>
        <property name="locations">
            <list>
                <value>classpath:data.properties</value>
                <value>classpath:data1.properties</value>
                <!-- Other properties -->
            </list>
        </property>
        <!-- key / Value in the same xml. it can be useful for default values, The properties (files) above override these -->
        <property name="properties">
            <props>
                <prop key="file.description">Example of description in xml</prop>
                <prop key="file.name">exampleFile.xml</prop>
            </props>
        </property>
    </bean>
</beans>