<component name="ArtifactManager">
  <artifact type="war" name="SpringCeo:war">
    <output-path>$PROJECT_DIR$/target</output-path>
    <root id="archive" name="spring-ceo-1.0-SNAPSHOT.war">
      <element id="artifact" artifact-name="SpringCeo:war exploded" />
    </root>
  </artifact>
</component>